* {
  max-width: 1024px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  position: relative;
  text-align: center;
  clear: both;
}

#imgHeader {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 350px;
}

h1 {
  color: white;
  position: absolute;
  top: 45%;
  margin-left: 25px;
  font-size: x-large;
}

h2 {
  padding: 30px;
  text-align: center;
}

h2 + p {
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: #61458c;
  height: 50px;
}

nav ul {
  list-style: none;
  overflow: hidden;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-align: center;
}

nav ul li a:hover {
  background: white;
  color: #61458c;
  border-radius: 8px;
  margin-top: 5px;
}

#whoWeAre {
  background: #f2f2f2;
  text-align: center;
  margin-top: 0;
  overflow: auto;
}

#whoWeAre p {
  color: #858383;
}

article {
  margin-top: 30px;
}

.articulo-izquierda {
  float: left;
  width: calc(50% - 2px);
  border-right: 2px solid #e0e0e0;
  padding-right: 15px;
  box-sizing: border-box;
}

.articulo-izquierda img {
  float: left;
  margin-right: 10px;
}

.articulo-derecha1 {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}

.articulo-derecha2 {
  float: left;
  width: calc(50% - 2px);
  padding-left: 15px;
  box-sizing: border-box;
  width: 50%;
}

.articulo-izquierda,
.articulo-derecha1,
.articulo-derecha2 {
  text-align: justify;
  padding: 0 20px;
  box-sizing: border-box;
}

.articulo-izquierda h3,
.articulo-derecha1 h3,
.articulo-derecha2 h3 {
  margin-bottom: 20px;
}

.circulo {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 50%;
  border-color: rgba(211, 211, 211, 0.5);
  margin-bottom: 10px;
  margin-right: 10px;
  color: #61458c;
}

.fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.fa-solid:hover {
  color: white;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#services h2 {
  text-align: center;
  width: 100%;
}

#services article {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#services h3 {
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#service h3 .fa-solid {
  margin-right: 10px;
}

#services p {
  text-align: justify;
  font-size: 0.8em;
  padding: 0 80px;
}

#portfolio {
  background: #f2f2f2;
  text-align: center;
  padding-bottom: 100px;
}

#portfolio p {
  margin-bottom: 40px;
  color: #858383;
}

#location {
  text-align: center;
  padding-bottom: 50px;
}

#location p {
  color: #858383;
}

#location iframe.mapa-circulo {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 40px;
  border: 2px solid black;
  display: inline-block;
  margin-left: 100px;
}

#location #direccion {
  float: right;
  text-align: left;
  margin-right: 120px;
  align-items: center;
  margin-top: 50px;
}

#location #direccion h4 {
  clear: both;
}

#contact {
  background-image: url("/img/map-image.png");
  background-color: #79629e;
  height: 450px;
  background-position: center;
  background-size: cover;
  color: white;
}

.contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: white;
}

.contact-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  display: inline-block;
  text-align: right;
  align-items: center;
  margin-right: 10px;
  width: 40%;
}

input,
textarea {
  width: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid white;
}

button {
  display: block;
  margin: 0 auto;
}

footer {
  height: 40px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
  background-color: #61458c;
  color: white;
}

footer a {
  color: white;
}
