* {
  max-width: 1024px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  position: relative;
  text-align: center;
  clear: both;
}

#imgHeader {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 350px;
}

h1 {
  color: white;
  position: absolute;
  top: 45%;
  margin-left: 25px;
  font-size: x-large;
}

h2 {
  padding: 30px;
  text-align: center;
}

h2 + p {
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: rgb(98, 39, 167);
}

nav ul {
  list-style: none;
  overflow: hidden;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#whoWeAre {
  background: #ecebeb;
  text-align: center;
  margin-top: 0;
}

article {
  margin-top: 30px;
}

#whoWeAre article {
  width: calc(33.3% - 20px);
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

#whoWeAre .articulo-derecha1::before,
#whoWeAre .articulo-derecha2::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: calc(-20px / 2);
}

#whoWeAre .articulo-derecha2::before {
  right: calc(-100% - 20px);
}
